* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media (min-width: 1500px) {
    body {
        max-width: 1500px;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20px;
}
.bookstorelogo img{
    width: 200px;
    height: 100px;
}
.navbar-links {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.burger{
    display: none;
}
@media (max-width: 700px) {
    .navbar-links{
        display: none;
    }
    .burger {
        display: block;
    }
    .burger div{
        background-color: #0084ff;
        height: 3px;
        width: 25px;
        margin-bottom: 5px;
    }
}
.navbar-links a {
    font-size: 25px;
    font-weight: 500;
    color: #0084ff;
    transition: color 0.3s ease;

    &:hover {
        color: coral;
    }
}

.book {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.book h1{
    font-size: 30px;
    font-weight: 500;
    color: coral;
}
.bookenter {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 10px;
}

.newbook {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.newbook h4{
    text-align: center;
}
.newbook label{
    color: #0084ff;
}
.newbook input{
    padding: 5px 5px;
}
.newbook button{
    width: 50%;
    padding: 10px 0px;
    background-color: #0084ff;
    color:white;
    border:none;
    border-radius: 10px;
    margin: 0 auto;
}
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.preview h4{
    text-align: center;
}
.preview button{
    width: 70%;
    padding: 10px 0px;
    background-color: #0084ff;
    color:white;
    border:none;
    border-radius: 10px;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.book-item {
    padding: 10px;
    text-align: center;
}

.book-item img {
    width: 150px;
    height: 150px;
}



